/* override video player width */
.diIHwN {
  width: 90%;
  max-width: none;
}

.video-js .vjs-control.vjs-button.vjs-control-skip-forward::before {
  content: "⏩️ 15s";
  font-size: 1em;
  margin-top: 0.7em;
}

.video-js .vjs-control.vjs-button.vjs-control-skip-backward::before {
  content: "15s ⏪️";
  font-size: 1em;
  margin-top: 0.7em;
}

/* Make navbar smaller */
._14ghP {
  height: 2rem;
}

.iQ4OR {
  padding-bottom: 0rem;
}

._3ZoFr {
  padding-bottom: 0;
  padding-top: 0;
}